# Django
SECRET_KEY=your_secret_key

# PostgreSQL
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=db
DATABASE_PORT=5432  # или другой порт, если используется не стандартный

# Email
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key

# Redis для Celery
REDIS_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
