SECRET_KEY=your_secret_key

DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=localhost  # или IP-адрес вашего сервера базы данных
DATABASE_PORT=5432  # или другой порт, если используется не стандартный

# Логин и пароль для подключения к почте
EMAIL_HOST_USER='ваша_почта'
EMAIL_HOST_PASSWORD='ваш_пароль'
